server:
  port: 9091
  
spring:
  application:
    name: PROJECT-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/axis_saral_db
    username: root
    password: shreya123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone : http://localhost:8761/eureka/
  instance:
      hostname: localhost 

